<div class="user-details">
  <h1> My Expertise </h1>
  <p> Hey, howdy, how are ya?! I'm Sydney, a web/software developer with a design brain, which means I care just as much
    about how something feels as how it's built. I focus on creating clear, intuitive interfaces that are easy to use
    and easy to maintain. My work blends design, engineering, and a systems mindset to keep projects scalable,
    consistent, and genuinely enjoyable to work with. </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <div class="flex-container flex-horizontal justify-center">
      <i class="fi fi-brands-figma tooltip">
        <span class="tooltiptext">Figma</span>
      </i>

      <i class="fi fi-brands-photoshop tooltip">
        <span class="tooltiptext">Adobe Photoshop</span>
      </i>

      <i class="fi fi-brands-illustrator tooltip">
        <span class="tooltiptext">Adobe Illustrator</span>
      </i>

      <i class="devicon-canva-original tooltip">
        <span class="tooltiptext">Canva</span>
      </i>

    </div>
  </div>
  <div class="tech code">
    <h2>Code</h2>
    <div class="flex-container flex-horizontal justify-center">

      <i class="fi fi-brands-html5 tooltip">
        <span class="tooltiptext">HTML5</span>
      </i>

      <i class="fi fi-brands-css3 tooltip">
        <span class="tooltiptext">CSS3</span>
      </i>

      <i class="devicon-javascript-plain tooltip">
        <span class="tooltiptext">JavaScript</span>
      </i>

      <i class="fi fi-tr-react tooltip">
        <span class="tooltiptext">React</span>
      </i>

      <i class="fi fi-brands-php tooltip">
        <span class="tooltiptext">PHP</span>
      </i>

      <i class="devicon-laravel-original tooltip">
        <span class="tooltiptext">Laravel</span>
      </i>

      <i class="fi fi-brands-wordpress tooltip">
        <span class="tooltiptext">WordPress</span>
      </i>
    </div>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <div class="flex-container flex-horizontal justify-center">

      <i class="devicon-vscode-plain tooltip">
        <span class="tooltiptext">VS Code</span>
      </i>

      <i class="fi fi-brands-slack tooltip">
        <span class="tooltiptext">Slack</span>
      </i>

      <i class="devicon-amazonwebservices-plain-wordmark tooltip">
        <span class="tooltiptext">AWS</span>
      </i>
      <i class="devicon-git-plain tooltip">
        <span class="tooltiptext">Git</span>
      </i>
      <i class="devicon-gitkraken-original tooltip">
        <span class="tooltiptext">GitKraken</span>
      </i>
      <i class="devicon-gitlab-plain tooltip">
        <span class="tooltiptext">GitLab</span>
      </i>
      <i class="devicon-bash-plain tooltip">
        <span class="tooltiptext">Bash</span>
      </i>
    </div>
  </div>
</div>